.wrapper {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.row {
    align-items: center;
    width: 450px;
    height: 230px;
    background-color: black;
}

h2 {
    font-size: 50px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}

.button-box {
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.button {
    font-size: 30px ;
}

input.stop {
    font-size: 25px;
}

#displayTime {
    color: white;
    font-size: 40px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#displayDate {
    color: white;
    font-size: 40px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}